@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    /* neutral */
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    /* font */
    --ff-montserrat: 'Montserrat';
    --ff-fraunces: 'Fraunces';
}

.mobile-img {
    display: none;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    font-family: var(--ff-montserrat);
    background-color: var(--cream);
    color: var(--dark-grayish-blue);
}

.title {
    text-transform: uppercase;
    letter-spacing: .5rem;
}

h1 {
    margin: 1rem 0;
    font-family: var(--ff-fraunces);
    font-size: 2rem;
    color: var(--very-dark-blue);
    padding-right: .9rem;
}

main {
    width: 100vw;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktop-img {
    width: 50%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 400px;
}

.right {
    background-color: var(--white);
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

p {
    margin-top: 0;
}

.price {
    display: flex;
    align-items: center;
}

.discount {
    font-family: var(--ff-fraunces);
    font-size: 24px;
    font-weight: 700;
    color: var(--dark-cyan);
    padding-right: 10px;
}

.decorated-price {
    text-decoration: line-through;
}

button {
    margin-top: 20px;
    background-color: var(--dark-cyan);
    padding: 12px;
    border: none;
    border-radius: 10px;
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: var(--very-dark-blue);
}

.cart {
    padding-right: 10px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media (max-width: 550px) {
    .desktop-img {
        display:none;
    }

    .mobile-img {
        display: block;
        height: auto;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .container {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        max-height: 90%;
    }

    .right {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}